<!DOCTYPE html>
<html lang="grc">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ΑΣΚΗΣΙΣ</title>
  <link rel="stylesheet" href="/c.css">
  <script src="/editRecords.js" defer></script>
</head>
<body>
  <header>
    <h1>Η ΑΣΚΗΣΙΣ</h1>
    <p><q>πλέονες ἐξ ἀσκήσιος ἀγαθοί γίνονται ἤ ἀπὸ φύσιος.</q> <span>—Δημόκριτος</span></p>

    <h2>χαῖρε, Brian!</h2>
  </header>

  <main>
    <%
    // If the student hasn't logged a practice either
    // today or yesterday, prompt them with a form.
    if (recentPractice.today.isLogged === false || recentPractice.yesterday.isLogged === false) {
      let postUrl;
      let formHeader;

      // If today hasn't been logged, prompt them for today first.
      if (recentPractice.today.isLogged === false) {
        postUrl = recentPractice.today.url;
        formHeader = 'ἤσκησας σήμερον;';
      // If it has, prompt them for yesterday.
      } else {
        postUrl = recentPractice.yesterday.url;
        formHeader = 'χθὲς ἤσκησας;';
      }
    %>
    <form action="<%= postUrl %>" method="POST" class="recordPractice">
  
      <h3 class="recordPractice-header"><%= formHeader %></h3>

      <div class="recordPractice-answers">
        <label class="recordPractice-answers-yes">
          <input type="radio" name="practiced" value="true" required>
          <strong>Ναί</strong>, ἤσκησα!
        </label> 

        <label>
          <input type="radio" name="practiced" value="false">
          <strong>Οὐχί</strong>, οὐκ ἤσκησα.
        </label>
      </div>

      <div class="recordPractice-addNote">
        <label for="note">Τὶ ἐποίησας;</label>
        <textarea name="note" id="note" maxlength="100"></textarea>
      </div>

      <button type="submit" class="recordPractice-submit">καταπέμπειν</button>
    </form>
    <% } %>

    <div class="displayRecords">
      <%
      // Define message string
      const greekNumbers = ['οὐδεμία', 'μία', 'δύο', 'τρεῖς','τέσσαρες', 'πέντε', 'ἕξ', 'ἑπτὰ'];
      let pastSevenMessage = `<strong>${greekNumbers[countFromPastSevenDays]}</strong> τῶν ἑπτὰ παρελθουσῶν ἡμερῶν ἤσκηκας.`;
      %>
      <p class="notes-pastWeek"><%- pastSevenMessage %></p>
    
      <div class="calendar" lang="en">
        <h3 class="calendar-heading">
          <a href="<%= calendar.lastMonthUrl %>" class="calendar-changeMonth">«</a>
            <%= calendar.monthTitle %>
          <a href="<%= calendar.nextMonthUrl %>" class="calendar-changeMonth">»</a>
        </h3>
        <ol class="calendar-list">
          <%
          // For each item in the calendar array
          for (let i = 0; i < calendar.days.length; i++) {
            const thisDay = calendar.days[i];

            const dayAttributes = [`data-date="${thisDay.fullDate}"`];

            if (thisDay.logged) {
              dayAttributes.push('data-logged="true"');
            }

            if (thisDay.editable) {
              dayAttributes.push('date-editable="true"');
            }

            if (thisDay.practiced) {
              dayAttributes.push('data-practiced="true"');
            }

            if (thisDay.thisMonth) {
              dayAttributes.push('data-this-month="true"');
            }

            if (thisDay.note) {
              dayAttributes.push(`title="${thisDay.note}"`);
            }

            const attributeString = dayAttributes.join(" ");
          %>
            <li class="calendar-day" <%- attributeString %>><%= thisDay.day %></li>
          <% } %>
        </ol>
      </div><!-- end .calendar -->

      <div class="practiceNote">
      </div>
    </div><!-- end .stats -->
  </main>
</body>
</html>