<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ΑΣΚΗΣΙΣ</title>
  <link rel="stylesheet" href="c.css">
</head>
<body>
  <header>
    <h1>Η ΑΣΚΗΣΙΣ</h1>
    <p><q>πλέονες ἐξ ἀσκήσιος ἀγαθοί γίvονται ἤ ἀπὸ φύσιος.</q> <span>—Δημόκριτος</span></p>
  </header>

  <main>
    <h2>χαῖρε!</h2>
    <% 
    let streakString;
    if (streak === 0) {
      streakString = "Time to start a new streak!";
    } else if (streak === 1) {
      streakString = "You're at the start of a new streak. Keep it going!";
    } else {
      streakString = "You've practiced for <strong>" + streak + " days</strong> in a row. Keep it up!";
    }
    %>
    <p><%- streakString %></p>

    <%
    // For now, build everything off of today's date.
    // Later we'll need to be able to build from any date.
    const today = new Date();
    const calendar = [];

    // We'll need to:
    // 1. Add the trailing days of the previous month, calculating based on the start day of this month.

    const firstDayOfThisMonth = new Date(today.getFullYear(), today.getMonth(), 1).getDay();
    const daysInLastMonth = new Date(today.getFullYear(), today.getMonth(), 0).getDate();
    const calendarStart = daysInLastMonth - firstDayOfThisMonth + 1; // adjusted for index

    // Build a date string to include in the HTML dataset
    const lastMonth = new Date(today.getFullYear(), today.getMonth() - 1).getMonth();
    const lastMonthsYear = new Date(today.getFullYear(), today.getMonth() - 1).getFullYear();
    let monthString = lastMonth < 10 ? "0" + (lastMonth + 1) : (lastMonth + 1).toString();
    let dateString = `${lastMonthsYear}-${monthString}-`;

    for (let i = calendarStart; i <= daysInLastMonth; i++) {
      let todayString = i < 10 ? "0" + i : i.toString();  // get a two digit date string
      calendar.push({ thisMonth: false, fullDate: `${dateString}${todayString}`, day: i });
    }

    // 2. Add the days of this month.
    let thisMonth = today.getMonth();
    let thisYear = today.getFullYear();
    let daysInThisMonth = new Date(thisYear, thisMonth + 1, 0).getDate();
    monthString = thisMonth < 10 ? "0" + (thisMonth + 1) : (thisMonth + 1).toString();
    dateString = `${thisYear}-${monthString}-`;

    // As we go, check against the results of the database query.
    let nextRecordIndex = 0;
    let nextRecord = thisMonthsRecords[nextRecordIndex];

    for (let i = 1; i <= daysInThisMonth; i++) {
      let dayString = i.toString();
      let todayString = i < 10 ? "0" + i : i.toString();  // get a two digit date string
      console.log(nextRecord);

      // If we've got a record for today, add its information...
      if (nextRecord.day === dayString) {
        calendar.push({ 
          thisMonth: true,
          fullDate: `${dateString}${todayString}`, 
          day: i,  
          practiced: nextRecord.practiced,
          note: nextRecord.note
        });

        // ...and update our next record info, if other records exist.
        if ((nextRecordIndex + 1) < thisMonthsRecords.length) {
          nextRecordIndex++;
          nextRecord = thisMonthsRecords[nextRecordIndex];
        }
      } else if (i < today.getDate()) {
        calendar.push({ 
          thisMonth: true,
          fullDate: `${dateString}${todayString}`, 
          day: i,  
          practiced: false,
          note: ''
        });
      } else {
        calendar.push({ 
          thisMonth: true,
          fullDate: `${dateString}${todayString}`, 
          day: i,  
          practiced: null,
          note: ''
        });
      }
    }

    // 3. Add the starting days of next month to round out to a full week.
    let lengthSoFar = calendar.length;  
    let totalDays = Math.ceil(lengthSoFar / 7) * 7; 

    const nextMonth = new Date(today.getFullYear(), today.getMonth() + 1).getMonth();
    const nextMonthsYear = new Date(today.getFullYear(), today.getMonth() + 1).getFullYear();
    monthString = nextMonth < 10 ? "0" + (nextMonth + 1) : (nextMonth + 1).toString();
    dateString = `${nextMonthsYear}-${monthString}-`;

    for (let i = 1; i <= totalDays - lengthSoFar; i++) {
      let todayString = i < 10 ? "0" + i : i.toString();  // get a two digit date string
      calendar.push({ thisMonth: false, fullDate: `${dateString}${todayString}`, day: i });
    }
    %>
    <h3 class="calendar-heading">
      <a href="#">«</a>
        <%= today.toLocaleString('default', { month: 'long', year: 'numeric' }); %>
      <a href="#">»</a>
    </h3>
    <ol class="calendar">
      <% 
      for (let i = 0; i < calendar.length; i++) {
        let css;
        if (calendar[i].practiced === true) {
          css = ' class="practiced"';
        } else if (calendar[i].practiced === false) {
          css = ' class="skipped"';
        }

        if (calendar[i].thisMonth === false) {
          css = ' class="not-this-month"';
        }
      %>
        <li data-date="<%= calendar[i].fullDate %>"<%- css %>><%= calendar[i].day %></li>
      <% } %>
    </ol>
  </main>
</body>
</html>