<!DOCTYPE html>
<html lang="grc">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ΑΣΚΗΣΙΣ</title>
  <link rel="stylesheet" href="/c.css">
</head>
<body>
  <header>
    <h1><a href="/">Η ΑΣΚΗΣΙΣ</a></h1>
    <p><q>πλέονες ἐξ ἀσκήσιος ἀγαθοί γίνονται ἤ ἀπὸ φύσιος.</q> <span>—Δημόκριτος</span></p>

    <h2>χαῖρε, Brian!</h2>
  </header>

  <main>
    <%
    // If the student hasn't logged a practice either
    // today or yesterday, prompt them with a form.
    if (recentPractice.today.logged === false || recentPractice.yesterday.logged === false) {
      let postUrl;
      let formHeader;

      // If today hasn't been logged, prompt them for today first.
      if (recentPractice.today.logged === false) {
        postUrl = recentPractice.today.url;
        formHeader = 'ἤσκησας σήμερον;';
      // If it has, prompt them for yesterday.
      } else {
        postUrl = recentPractice.yesterday.url;
        formHeader = 'χθὲς ἤσκησας;';
      }
    %>
    <form action="<%= postUrl %>" method="POST" class="recordPractice">
  
      <h3 class="recordPractice-header"><%= formHeader %></h3>

      <div class="recordPractice-answers">
        <label class="recordPractice-answers-yes">
          <input type="radio" name="practiced" value="true" required>
          <strong>Ναί</strong>, ἤσκησα!
        </label> 

        <label>
          <input type="radio" name="practiced" value="false">
          <strong>Οὐχί</strong>, οὐκ ἤσκησα.
        </label>
      </div>

      <div class="recordPractice-addNote">
        <label for="note">Τὶ ἐποίησας;</label>
        <textarea name="note" id="note" maxlength="100"></textarea>
      </div>

      <button type="submit" class="recordPractice-submit">καταπέμπειν</button>
    </form>
    <% } %>

    <div class="displayRecords">
      <%
      // Define message string
      const greekNumbers = ['οὐδεμία', 'μία', 'δύο', 'τρεῖς','τέσσαρες', 'πέντε', 'ἕξ', 'ἑπτὰ'];
      let pastSevenMessage = `<strong>${greekNumbers[countFromPastSevenDays]}</strong> τῶν ἑπτὰ παρελθουσῶν ἡμερῶν ἤσκηκας.`;
      %>
      <p class="notes-pastWeek"><%- pastSevenMessage %></p>
    
      <div class="container">
        <div class="calendar" lang="en">
          <h3 class="calendar-heading">
            <a href="<%= calendar.lastMonthUrl %>" class="calendar-changeMonth">«</a>
              <%= calendar.monthTitle %>
            <a href="<%= calendar.nextMonthUrl %>" class="calendar-changeMonth">»</a>
          </h3>
          <ol class="calendar-list">
            <%
            // For each item in the calendar array
            for (let i = 0; i < calendar.days.length; i++) {
              const thisDay = calendar.days[i];

              // Make a list of the attributes we'll need to attach.
              const dayAttributes = [`data-date="${thisDay.fullDate}"`];
              if (thisDay.logged) {
                dayAttributes.push('data-logged="true"');
              }
              if (thisDay.practiced) {
                dayAttributes.push('data-practiced="true"');
              }
              if (thisDay.thisMonth) {
                dayAttributes.push('data-this-month="true"');
              }
              if (thisDay.note) {
                dayAttributes.push(`title="${thisDay.note}"`);
              }

              // And string them together.
              const attributeString = dayAttributes.join(" ");
            %>
              <li class="calendar-day" <%- attributeString %>><a href="<%= thisDay.url %>" class="calendar-day-link"><%= thisDay.day %></a></li>
            <% } %>
          </ol>
        </div>
        
        <% 
        // If we're on a day page:
        if (typeof todaysRecord === "object") {
          // And if the date is in the past:
          if (todaysRecord.future !== true) {
            // Write a form letting the student update today's note.
        %>
        <div class="practiceNote">
          <form method="post" class="practiceNote-form">
            <h3 class="practiceNote-header"><label for="note"><%= todaysRecord.longDate %></label></h3>
            <input type="hidden" name="logged" value="<%= todaysRecord.logged %>">
            <% if (todaysRecord.logged === true) { %>
            <input type="hidden" name="practiced" value="<%= todaysRecord.practiced %>">
            <% } %>
            <textarea name="note" id="note" class="practiceNote-input" placeholder="Add a practice note." required><%= todaysRecord.note %></textarea>
            <button type="submit">μεταγράφειν</button>
          </form>
      </div>
        <%
          // If the date record is in the future, say so.
          } else {
        %>
        <div class="practiceNote">
          <h3 class="practiceNote-header"><%= todaysRecord.longDate %></h3>
          <p class="practiceNote-future"><q>τοὐπίσω δʼ οὐδὲν σκοπεῖ.</q> <span>—<a href="https://bmcr.brynmawr.edu/2018/2018.09.56/">Eὐριπίδης</a></span></p>
        </div>
        <%
          }
        }
        %>
      </div>
    </div>
  </main>
</body>
</html>